{% extends 'layout.twig' %}

{% block body %}

  <fieldset style="width: 33%; display: block; margin: auto">
    <legend>Create User</legend>
    <form action="users/create" method="post">
      <div style="margin-bottom: 15px">
        Nom
        <label for="nom" style="width: 100%; margin-bottom: 15px">
          <input type="text" placeholder="nom" name="nom" id="nom"/>
        </label>
      </div>
      <div style="margin-bottom: 15px">
        <label for="prenom" style="width: 100%; margin-bottom: 15px">
          Prenom
          <input type="text" placeholder="prenom" name="prenom" id="prenom"/>
        </label>
      </div>
      <div style="margin-bottom: 15px">
        <label for="email" style="width: 100%; margin-bottom: 15px">
          Email
          <input type="text" placeholder="email" name="email" id="email"/>
        </label>
     
      </div>
      <input type="submit" value="Create" style="float: right"/>
    </form>
  </fieldset>
{% endblock %}