<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
       
      </thead>

      <tbody>
        {% for item in users %}
        <tr>
          <td>{{ item.nom }}</td>
          <td>{{ item.prenom }}</td>
          <td>{{ item.email }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
